.manage_content .table_container {
  padding: 10px 0;
  overflow-x: auto;
}
.manage_content .table_container table {
  width: 100%;
}
.manage_content .table_container table thead tr,
.manage_content .table_container table tbody tr {
  border: 1px solid var(--color-gray-light);
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-white);
  border-radius: 5px 5px 0 0;
}
.manage_content .table_container table thead tr {
  font-weight: 600;
}
.manage_content .table_container table tbody {
}
.manage_content .table_container table tbody tr {
  border-radius: 0;
  border-top: none;
  background-color: white;
}
.manage_content .table_container table tr td {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 110px;
  font-size: 13px;
}
.manage_content .table_container table tr td > div {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.manage_content .table_container table tr td.check_box_id,
.manage_content .table_container table tr td.master_checkbox_td,
.manage_content .table_container table tr td.emp_id {
  width: 30px;
}
.manage_content .table_container table tr td.check_box_id input,
.manage_content .table_container table tr td.master_checkbox_td input {
  position: relative;
  appearance: none;
}
.manage_content .table_container table tr td.check_box_id input::before,
.manage_content .table_container table tr td.master_checkbox_td input::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: var(--color-gray-light);
  border-radius: 3px;
  cursor: pointer;
}
.manage_content .table_container table tr td.check_box_id input::after,
.manage_content .table_container table tr td.master_checkbox_td input::after {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: var(--color-green);
  border-radius: 3px;
  transform: rotate(-360deg);
  scale: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.manage_content .table_container table tr td.check_box_id input:checked::after,
.manage_content
  .table_container
  table
  tr
  td.master_checkbox_td
  input:checked::after {
  scale: 1;
  transform: rotate(0deg);
}
