.app_content .content .title {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  margin-bottom: 10px;
  color: var(--color-black);
}
@media (max-width: 650px) {
  .app_content .content .title {
    margin-left: 20px;
  }
  .app_content .content .container {
    width: 100% !important;
    max-width: 100%;
    margin: 0;
  }
}
.manage_content {
  background: white;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header h3 {
  font-size: 14px;
  font-weight: 600;
}
.header button {
  font-size: 13px;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--color-green);
  gap: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  font-weight: 600;
}
.header button:hover {
  color: var(--color-green);
  background-color: var(--color-green-light);
}
.header button.delete_status:hover{
  background-color: var(--bs-danger-border-subtle);
  color: var(--bs-danger);
}
.filter_bar,
.filter_section ,
.filter_sections_contianer , 
.advanced_filter{
  user-select: none;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: transparent;
}
.filter_bar{
  justify-content: space-between;
}
.advanced_filter{
  justify-self: flex-end;
}
.filter_section ,.advanced_filter {
  gap: 10px;
  font-size: 13px;
  border: 1px solid var(--color-gray-light);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.filter_options {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px;
  box-shadow: 0 0 5px var(--color-gray-light);
  font-size: 14px;
  gap: 5px;
  z-index: 5;
  animation: FadeIn 0.4s;
}

.filter_options button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  text-align: start;
  padding: 3px 5px;
}
.filter_options button:hover {
  background-color: var(--color-green-light);
}
@media (max-width: 1150px) {
  .filter_bar .date_filter{
    display: none;
  }
}
@media (max-width: 970px) {
  .filter_bar .type_filter{
    display: none;
  }
}
@media (max-width: 870px) {
  .filter_bar .status_filter{
    display: none;
  }
  .filter_bar .search_part{
    width: 240px;
  }
}
@media (max-width: 680px) {
  .header button{
    padding: 10px;
    font-size: 16px;
  }
  .new_employee span{
    display: none;
  }
  .filter_bar{
    justify-content: space-between;
  }
  .filter_bar .search_part{
    width: 200px;
  }
  .advanced_filter{
    padding: 8px;
    font-size: 16px;
  }
  .advanced_filter p{
    display: none;
  }
}